#Postgres access url
url=jdbc:postgresql://<YOUR_URL>:<YOUR_PORT>/<YOUR_DB>

#Username used to access postgres instance
user=<YOUR_USERNAME>

#Password for postgres account
password=<YOUR_PASSWORD>

#Prostgres Driver
driver=org.postgresql.Driver
